{{define "code"}}
<html>
	<head>

		<title>{{.FolderName}} on {{.Host}}</title>

		<link type="text/css" rel="stylesheet" href="tilde.css" />
		<style type="text/css">
		.dir {
			font-weight: bold;
			color: #00BFFF;
		}
		.file.exec {
			font-weight: bold;
			color: #FFD700;
		}
		.fullDir {
			color: #aaa;
			font-size: 0.9em;
		}
		</style>

	</head>
	<body id="hello">

		<h1>{{.FolderName}} on {{.Host}}</h1>
		<p>Last Updated: <time datetime="{{.Updated}}">{{.UpdatedForHumans}}</time></p>

		{{range .Users}}
		<h2><a href="/~{{.Name}}/">~{{.Name}}</a></h2>
		<div class="links">
			<ul class="links">
				{{range .Projects}}
				<li><span class="{{.CssClass}}">{{.Name}}</span> <span class="fullDir">&middot; {{.Path}}</span></li>
				{{end}}
			</ul>
		</div>
		{{end}}

	</body>
</html>
{{end}}
