{{define "code"}}
<html>
	<head>

		<title>{{.FolderName}} on {{.Host}}</title>

		<link type="text/css" rel="stylesheet" href="tilde.css" />
		<style type="text/css">
		.dir {
			font-weight: bold;
			color: #00BFFF;
		}
		.file.exec {
			font-weight: bold;
			color: #FFD700;
		}
		.fullDir {
			color: #aaa;
			font-size: 0.9em;
		}
		h2 {
			padding: 0;
		}
		h2 a {
			padding: 0 10px;
			color: white;
		}
		</style>

	</head>
	<body id="hello">

		<h1>{{.FolderName}} on {{.Host}}</h1> <span class="updated"><a href="/~bear/">&uarr; up</a></span>
		<p>Last Updated: <time datetime="{{.Updated}}">{{.UpdatedForHumans}}</time></p>

		{{range .Users}}
		<h2><a href="/~{{.Name}}/">~{{.Name}}</a></h2>
		<div class="links">
			<ul class="links">
				{{range .Projects}}
				<li><span class="{{.CSSClass}}">{{.Name}}</span> <span class="fullDir">&middot; {{.Path}}</span></li>
				{{end}}
			</ul>
		</div>
		{{end}}

		{{$arr := Split .FolderName ","}}
		<p style="margin: 2em 0;">
			Create a {{ListDirs .Folders}} folder directly under your home directory.
			<em>Other</em>-readable files in this folder will show up here. Updated every 30 minutes.
		</p>

	</body>
</html>
{{end}}
