{{define "table"}}
<html>
	<head>

		<title>{{.Title}}</title>

		<link type="text/css" rel="stylesheet" href="tilde.css" />
		<style type="text/css">
		td + td + td, td+td+td+td+td+td, td+td+td+td+td+td+td+td {
			text-align: center;
		}
		td + td + td + td + td {
			text-align: right;
		}
		td + td + td + td {
			text-align: left;
		}
		</style>

	</head>
	<body id="hello">

		<h1>{{.Title}}</h1> <span class="updated"><a href="/~bear/">&uarr; up</a></span>
		<p>Last Updated: <time datetime="{{.Updated}}">{{.UpdatedForHumans}}</time></p>

		<p style="font-size: 1.2em">Current jackpot: <strong>{{.Jackpot}}</strong></p>

		<table>
			<tr>
				<th>&nbsp;</th>
				{{range .Table.Headers}}
				<th>{{.}}</th>
				{{end}}
			</tr>
			{{range $i, $r := .Table.Rows}}
			<tr>
				<td>{{add $i 1}}</td>
				{{range .Data}}
				<td>{{.}}</td>
				{{end}}
			</tr>
			{{end}}
		</table>
	</body>
</html>
{{end}}
